.game p {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px; /* 172.222% */
}

.game-time,
.moles-number {
  display: flex;
  width: 850px;
  height: 90px;
  justify-content: space-between;
  align-items: center;
}

.control-button,
.timer,
.score {
  display: flex;
  width: 850px;
  height: 90px;
  justify-content: flex-start;
  align-items: center;
}

.control-button p,
.game-statistics p {
  width: 250px;
}

.control-button-button {
  width: 600px;
  justify-content: flex-start;
  align-items: center;
}

.buttons {
  display: flex;
  width: 600px;
  justify-content: space-between;
  align-items: center;
}

.small-button {
  width: 163px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--secondary-secondary, #23213d);
  background: var(--secondary-secondary, #23213d);
  color: white;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px; /* 172.222% */
}

.chosen-button {
  width: 163px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--primary-primary, #fe3756);
  background: var(--primary-primary, #fe3756);
  color: white;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px; /* 172.222% */
}

.time,
.actual-score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 163px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--gray-200, #ebebeb);
  background: var(--gray-200, #ebebeb);
}

.time p,
.actual-score p {
  width: 163px;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px; /* 140.909% */
  text-transform: uppercase;
}

.stop-button {
  width: 163px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--colors-actions-danger, #e12b1b);
  background: var(--colors-actions-danger, #e12b1b);
  color: white;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px; /* 172.222% */
}

.game-board {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 550px;
  height: 220px;
  margin: 100px auto 0 auto;
}

.game-board div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 102px;
  border-radius: 8px;
  background: var(--gray-200, #ebebeb);
}

.margin-bottom {
  height: 100px;
}
